<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About our Website</title>
</head>
<body>
    <div class="container" style="text-align: center;">

        {% include 'navbar.html' %}
        
        <h1>About our Website</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eaque officia debitis veniam repellat quidem doloribus hic aliquam, voluptates itaque nam consectetur iure aliquid numquam distinctio velit ipsum? Ipsam dolor assumenda rem voluptas nam sunt incidunt quisquam omnis ut corporis eaque, perspiciatis veritatis laborum excepturi voluptatem! Aperiam consequuntur animi provident?</p>
        <button>Contact US</button>
    </div>
</body>
</html>